target
node_modules
.env
output_dir
.DS_Store
viralmind.race_sessions.json
data/tests/finetune/finetune
data/tests/extraction/temp
data/debug
eng.traineddata
data/tests/grader/metrics.json
data/tests/grader/20250817_232256/metrics.json
data/tests/grader/20250817_232256/scores.json
